.bg-primaryColor {
  background-color: #267163;
}

.bg-bgColor {
  background-color: #F0F0F0;
}

.bg-masked {
  background-color: #e9f5ff;
}

.bg-maskedTwo {
  background-color: #F1EBE3;
}

.maskedSpecial {
  background-size: 100% 50%;
  background-position: 50% 50%;
}

.txt-primaryColor {
  color: #267163;
}

.txt-blue {
  color: #2D79AE;
}

.border-primaryColor {
  border-color: #267163 !important;
}

.hover-shadow {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hover-shadow:hover {
  cursor: pointer;
  box-shadow: -1px 0px 21px 1px rgba(0, 0, 0, 0.31);
  -webkit-box-shadow: -1px 0px 21px 1px rgba(0, 0, 0, 0.31);
  -moz-box-shadow: -1px 0px 21px 1px rgba(0, 0, 0, 0.31);
}

figure.square-img {
  margin: auto;
  width: 100px;
  height: 100px;
}

figure.square-img img {
  -o-object-fit: cover;
     object-fit: cover;
}

figure.img-50px {
  width: 50px;
  height: 50px;
}

img.img-50px {
  width: 25px;
  height: 25px;
}

figure.hover-play span {
  display: block;
  -webkit-transition: display 0.3s ease-out;
  transition: display 0.3s ease-out;
}

figure.hover-play:hover span {
  display: none;
}

ul.pagination li.active a {
  background-color: #ccc !important;
  border-color: #ccc !important;
  outline: none;
}

nav {
  background-color: #267163;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

body {
  max-width: 1920px;
  margin: auto;
}

#homeMultimediaCarousel ul.slick-dots, #singlePageCarousel ul.slick-dots {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 25%;
  margin: auto;
}

#homeMultimediaCarousel ul.slick-dots li, #singlePageCarousel ul.slick-dots li {
  margin: auto;
}

#homeMultimediaCarousel ul.slick-dots li button, #singlePageCarousel ul.slick-dots li button {
  display: none;
}

#stickyNav .navbar {
  overflow-x: scroll;
}

#stickyNav .navbar::-webkit-scrollbar {
  display: none;
}
